body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DFF5FF;
}

header {
    background-color: #5356FF;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

section {
    padding: 50px 0;
}

section h2 {
    color: #378CE7;
}

footer {
    background-color: #5356FF;
    color: black;
    text-align: center;
    padding: 5px 0;

    width: 100%;
}

.hero {
    background-image: linear-gradient(to bottom right, #9370DB, #87CEFA, #67C6E3, #DFF5FF);
    text-align: center;
    padding: 80px 40px;
}

.container {
    color: #fff;
}

nav {
    padding: 20px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #87CEFA;
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color: var(--active-hover-color);
}


#about h2 {
    font-weight: bold;
    color: blue;
}


.process {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.process-step {
    flex: 1;
    text-align: center;
}

.process-step h3 {
    font-weight: bold;
}

.process-step p {
    margin-top: 10px;
}

.same-size-img {
    width: 50%;
    height: auto;
}

nav a:hover,
nav li.active a {
    color: var(--active-hover-color);
}

footer {
    margin: 60px 0;
}

footer .contact-box {
    background: var(--branding-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

footer .email-link:hover {
    color: var(--active-hover-color);
}

footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: black;
    background: var(--active-hover-color);
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 1.5;
    }

    h2 {
        font-size: 44px;
    }

    h3 {
        font-size: 26px;
    }

    .content {
        text-align: center;
        padding: 0;
    }

    .project-desciption {
        padding: 0;
        text-align: center;
    }
}